@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:700|Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*
.credit {
    position: absolute;
    right: 10px;
    bottom: 0;
    font-family: "Poiret One";
    font-size: 0.7em;
}
*/

.container {
    width: 60vw;
    height: 80vh;
}

.lines {
    height: 20vh;
    border-left: 2px gray solid;
    border-right: 2px gray solid;
}

.painting {
    width: 100%;
/*
    background-image: url("../images/headshot.png");
    background-size: cover;
    background-repeat: no-repeat;
*/
    box-shadow: 4px 4px 4px gray;
}

.description p {
    margin: 0;
    font-family: "Poiret One";
    font-size: 0.5em;
}

.navbar {
    padding-left: 0;
}

.navbar a {
    font-family: "Poiret One" !important;
    font-size: 1em;
    padding-left: 0 !important;
/*    color: #b76e79!important;*/
    opacity: 0.7;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.active {
    opacity: 1 !important;
}

.navbar a:hover {
    opacity: 1;
}

.social img{
    margin-top: 7px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.social img:hover {
    opacity: 1;
}

.bgFooter {
    color: #DAA520;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: -6vw;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    pointer-events: none;
}

.bgFooter h1 {
    opacity: 0.4;
    font-size: 20vw;
    transform: translateY(130px);
    color: white;
    text-shadow:
        1px 1px 0 black,
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .container {
        width: 50vw;
    }
    
    .painting {
        width: 55%;
    /*
        background-image: url("../images/headshot.png");
        background-size: cover;
        background-repeat: no-repeat;
    */
        box-shadow: 4px 4px 4px gray;
    }
    
    .lines {
        height: 10vh;
        border-left: 2px gray solid;
        border-right: 2px gray solid;
    }
    
    .credit {
        position: absolute;
        right: 10px;
        top: 0;
        font-family: "Poiret One";
        font-size: 0.5em;
    }
    
    .navbar {
        padding: 0;
    }
    
    .navbar a {
        font-family: "Poiret One" !important;
        font-size: 0.8em;
        padding-left: 0 !important;
        -webkit-transition: all 500ms ease-in;
        -moz-transition: all 500ms ease-in;
        -ms-transition: all 500ms ease-in;
        -o-transition: all 500ms ease-in;
        transition: all 500ms ease-in;
    }   
    
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 55vw;
    }
    
    .lines {
        height: 10vh;
        border-left: 2px gray solid;
        border-right: 2px gray solid;
    }
    
    .credit {
        position: absolute;
        right: 10px;
        top: 0;
        font-family: "Poiret One";
        font-size: 0.5em;
    }
    
    .navbar {
        padding: 0;
    }
    
    .navbar a {
        font-family: "Poiret One" !important;
        font-size: 0.8em;
        padding-left: 0 !important;
        -webkit-transition: all 500ms ease-in;
        -moz-transition: all 500ms ease-in;
        -ms-transition: all 500ms ease-in;
        -o-transition: all 500ms ease-in;
        transition: all 500ms ease-in;
    }   
    
    .logo {
        display: none;
    }
}