@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:700|Poiret+One&display=swap');

body {
    overflow-x: hidden;
    background-color: white;
}

.container {
    width: 45vw;
}

.header {
    background-image: url("../images/sidescroller-optimized.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    padding-bottom: 10px;
}

p {
    font-family: 'Cutive Mono', monospace;
    margin: 0;
    font-size: 0.8em;
}

.introHead {
    font-size: 1em;
    opacity: 0.5;
}

.navbar a {
    font-family: "Poiret One" !important;
    padding-left: 0 !important;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

@media only screen and (max-width: 1200px) {
    .header {
        background-image: url("../images/sidescroller.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 35vh;
        padding-bottom: 10px;
    }
    
    .container {
        width: 90vw;
    }   
}