@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

body {
    overflow: hidden;
    background-color: #777;
}

div {
    text-align: center;
}

.title {
    margin-top: 20px;
    color: black;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 3em;
}

a {
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 3em;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #4efcff;
}

.quit a:hover{
    color: #FF405F;
}

.masterContainer {
    width: 100vw;
    height: 100vh;
    
}

.frame {
  position: relative;
  background-color: white;
  border-radius: 2rem;
  border: 1rem solid;
  border-bottom-color: #444;
  border-left-color: #222;
  border-right-color: #222;
  border-top-color: #111;
  box-shadow: inset 0 0 18rem black,inset 0 0 10rem black, 0 0 10rem black;
  height: 100%;
  width: 100%;
}

.links {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 4em black solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.scanlines {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6));
  background-size: 100% 0.25rem; /* Repeated Backgrounds */
  opacity: 0.6; 
  position: absolute;
}

.glow {
  position: fixed;
  -webkit-animation: crt-glow 5s infinite;
  animation: crt-glow 5s infinite;
  background: radial-gradient(circle at center, white 0%, rgba(255, 255, 255, 0.88) 20%, rgba(255, 255, 255, 0.57) 40%, rgba(255, 255, 255, 0.27) 60%, gray 100%);
  opacity: 0.15;
  pointer-events: none;
}


@-webkit-keyframes crt-glow {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes crt-glow {
  0% {
    opacity: 0.01;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.01;
  }
}