#header {
  height: 46px;
  background: #353541;
  position: relative;
  font-family: Lato;
  z-index: 30;
}

h1 {
    
    text-align: center;
    color: white;
    font-size: 15px;
    margin: 0px;
    padding: 15px;
    
}

.logo {
  width: 6%;
  position: absolute;
  right: 30%;
  bottom: 24%;
}

.leftarrow {
  width: 4%;
  position: absolute;
  left: 3%;
  bottom: 26%;
}