body, html{
    padding: 0;
    margin: 0;
    background-image:none;

}

/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/* Header Transparent */


#background {
    background: url(../images/background2.png);
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

.layer {
    z-index: 5;
    margin-top: 2vh;
}



#moon {
    margin-left: 80%;
    margin-top: 5%;
    opacity: 0.4;
    z-index: 3;
}

header {
    height: 8vh;
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 3;
    overflow: hidden;
}

header.white {
    background: white;
    height: 8vh;
    z-index: 3;
    box-shadow: 1px 1px 10px #888888;
}

.navigationWhite {
    display: none;
}

header #branding {
    float: left;
    margin: 0;
    color: black;
    font-size: 1.7vh;
    font-family: Raleway;
    width: 300px;
}

header.white .navigationWhite {
    display: block;
    float: right;
    margin-top: 3.5vh;  
    
    animation-delay: 1.5s;
    animation-duration: 1.5s;
}

header.white .navigationWhite a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Josefin Sans;
}

.soft-link {
    -webkit-transition: color .3s linear;
    transition: color .3s linear;
}

header.white .navigationWhite ul {
    margin: 0;
    padding: 0;
}

header.white .navigationWhite li {
    display: inline;
    margin-top: 3.5vh;
    padding: 0 10px 0 10px;

}

header.white .navigationWhite li:last-child {
    margin-right: 0;
}

header.white .navigationWhite a:hover {
    color: #F48B94;

}


header .taehyun{
    font-weight: bold;
}

header .kim {
    font-weight: 100;
}

/* Frontpage */

#showcase {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    width: 100%;
    font-family: Source Sans Pro;
}


#showcase p {
    color: black;
    margin-top: 0;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
}

.navigation {
    text-align: center;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
}

.navigation nav {
    width: 100%;
    margin: auto;
}

.navigation a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Josefin Sans;
}

.soft-link {
    -webkit-transition: color .3s linear;
    transition: color .3s linear;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    padding: 0 10px 0 10px;

}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a:hover {
    color: white;

}

/* Home */

#introduction {
    height: 150px;
    line-height: 110px;
  
}

#introduction h1 {
    text-align: center;
    
}


.title a{
    text-decoration: none;
    color: black;
    cursor:default;
    font-size: 3vh;
    font-family: Source Sans Pro;
    
}

/* Projects */


#boxes {
    background-color: white;
    width: 100%;
    text-align: center
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.pic {
    background: url("../images/pic1.jpeg");
    background-attachment: fixed;
    width: 90%;
    height: 400px;
    margin: auto;
}

.pic1 {
    background: url("../projects/Code/Snake/snake.png");
    width: 90%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.pic2 {
    background: url("../projects/Code/Dictionary/dictionary.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 90%;
    height: 400px;
    margin: auto;
}

.pic3 {
    background: url("../projects/Code/pong/pong.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 400px;
    margin: auto;
}

#box {
    display: inline-block;
    width: 33%;
    margin: 0 auto;
    font-family: Source Sans Pro;
}



/*  Explore Button */
.button {
  border: 0.5px solid white;
  border-bottom: 0.5px solid black;
  background-color: white;
  font-size: 2.1vh;
  font-family: Source Sans Pro;  
  padding: 1.6vh;
  width:;
  cursor: pointer;
  z-index: 2;
    margin: 20px;
}

.button a{
    text-decoration: none;
    color: black;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  transition: 0.5s;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  color: black;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover a{
  transition: 0.5s;
}


.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* resume */

#resume {
   margin-top: 5%;
   width: 100%;
   height: 450px;
   background-color: #acdbc9;
}

#resumePic {
    width: 64%;
    height: 450px;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    text-align: center;
    display: inline-block;
}



#resumeBox {
    width: 27%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-top: 1%;
    font-size: 1.5vh;
    font-family: Source Sans Pro;  
}

.resumePic {
    float: left;
    height: 70%;
    margin-top: 16vh;
}

.resumeTriangle {
    float: right;
}

#resumeBox h2 {
    font-size: 3vh;
    text-shadow: 2px 10px 10px black;
}


/*  Learn More Button */
.button2 {
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: transparent;
  font-size: 2.1vh;
  font-family: Source Sans Pro;  
  padding: 1.6vh;
  width:;
  cursor: pointer;
  z-index: 2;
  margin: 20px;
}

.button2 a{
    text-decoration: none;
    color: white;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  transition: 0.5s;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  color: white;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover a{
  transition: 0.5s;
}


.button2:hover span:after {
  opacity: 1;
  right: 0;
}


/* Section */

#section {
    height: 150px;
    font-family: Source Sans Pro;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center; 
    padding-top: 60px;
}


/* Scrollbar */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999;
}

